<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Movie Magic{{#if pageTitle}} | {{pageTitle}}{{/if}}</title>
    <link href="/css/style.css" type="text/css" rel="stylesheet">
</head>

<body>
    <div id="box">
        <nav>
            <img src="/img/logo.webp" alt="logo">

            <ul class="menu">
                {{!-- All Users--}}
                <li><a href="/">Home</a></li>
                <li><a href="/movies/search">Search</a></li>
                <li><a href="/about">About</a></li>

                {{#if user}}
                {{!--Logged Users --}}
                <li><a href="/movies/create">Create Movie</a></li>
                <li><a href="/casts/create">Create Cast</a>
                <li><a href="/users/logout">Logout</a></li>

                {{else}}
                {{!-- Guest Users --}}
                <li><a href="/users/login">Login</a></li>
                <li><a href="/users/register">Register</a></li>
                {{/if}}
            </ul>
        </nav>

        <main>
            {{{body}}}
        </main>
        <footer>
            © JS Back-End Workshop
        </footer>
    </div>
</body>

</html>